.container {
  min-width: 350px;
  max-width: 750px;
  padding: 20px;

  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .date {
      display: flex;
      gap: 16px;

      mat-form-field {
        flex: 1;
      }
    }
  }

  .buttons {
    text-align: right;

    button {
      margin-left: 10px;
    }
  }
}
